---
import PlayerPage from "../components/PlayerPage.tsx";
import SongBar from "../components/SongBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Song Player</title>
      
    </header>
    <h1>Mad Meteor Song Player</h1>
  </head>
  <body>
    <header>
      <div class="flex items-start">
        <main>
          <slot />
        </main>
        <PlayerPage client:visible/>
      </div>
    

    
    <SongBar />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #181818;
    color: #fff;
  }
  header {
    padding: 1rem;
    background: #222;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  main {
    padding-bottom: 20px; /* less space for song bar */
    min-height: calc(100vh - 100px); /* reduce height to remove gap */
  }
</style>
